@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.title-h1-italic {
    @include title(24px);
    font-weight: 400;
    text-align: center;
    font-style: italic;
}